article {
	background: #fff;
	//border: 1px solid #ccc;
	@include rems(padding, 8);
	position: relative;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	.date-box {
		position: absolute;
		top: 0;
		right: 0;
		background: $main;
		color: #fff;
		@include rems(padding, 0.5, 2);
		@include border-radius(0 0 0 5px);
		z-index: 10;
		@include font-size(1.4, 2);
		i {
			@include rems(margin-right, 0.5);
		}
	}
	img {
		&.attachment-post-feature {
			display: block;
			@include rems(margin, -8, -8, 8);
			width: 120%;
			width: calc(100% + 160px);
			width: calc(100% + 16rem);
			max-width: 150%;
		}
	}
	.category-list {
		border-top: 1px solid $main;
		@include rems(padding, 2, 0, 0);
		text-align: center;
		@include rems(margin-top, 4);
	}
}
