.button {
	display: inline-block;
	&.standard {
		border: 1px solid $main;
		color: $main;
		text-decoration: none;
		@include rems(padding, 0.5, 4);
		@include rems(margin, 0, 0.5);
		@include border-radius(4px);
		transition: 0.4s all ease;
		&:hover {
			background: $main;
			color: #fff;
		}
		&.small {
			@include rems(padding, 0.5, 2);
			@include font-size(1.4, 2);
		}
	}
}
