footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ccc;
	@include rems(padding, 2, 0);
	text-align: center;
	@include font-size(1.4, 2);
	z-index: 20;
}
