.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1, 2);
	-webkit-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background: #fff;
	font-family: $gotham-book;
	@include font-size(1.8, 2.4);
	border: 1px solid #ccc;
	@include border-radius(4px);
	transition: 0.4s all ease;
	color: $main;
	&:focus {
		border: 1px solid $main;
	}
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles

	@include border-radius(4px);
	background: $main;
	color: #fff;;
	@include rems(padding, 0.5, 4);
	border: none;
	font-family: $gotham-book;
	@include font-size(1.8, 2.4);
}
select {
	background-image: url('images/select@2x.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 45px auto;
	background-size: 4.5rem auto;
	@include rems(padding, 1, 5.2, 1, 1);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background-color: #fff;
	font-family: $gotham-book;
	@include font-size(1.8, 2.4);
	border: 1px solid #ccc;
	color: #333;
}
select::-ms-expand {
    display: none;
}
form {
	@include clearfix;
	input[type="submit"] {
		float: right;
	}
	p {
		padding-bottom: 0;
	}
	br {
		display: none;
	}
}
