body {
	font-family: $gotham-book;
	@include font-size(1.8, 2.6);
	background: #ededed;
	color: #7d7d7d;
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.narrow {
		@include rems(max-width, 90);
	}
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
		@include rems(margin-right, -8);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
		@include rems(margin-left, -8);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
	&.size-large {
		@include rems(margin, 2, -8, 2);
		width: 120%;
		width: calc(100% + 160px);
		width: calc(100% + 16rem);
		max-width: 150%;
	}
}
.wp-caption {
	background: $main;
	@include rems(margin, 2, -8, 4);
	max-width: calc(100% + 160px);
	max-width: calc(100% + 16rem);
	color: #fff;
	.size-large {
		margin: 0;
		max-width: 100%;
	}
	p {
		@include rems(padding, 2, 8);
	}
	img {
		display: block;
	}
}
