header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-transform: lowercase;
	z-index: 1000;
	.container {
		@include rems(max-width, 300);
		display: flex;
		align-items: center;
	}
	h1, h2 {
		@include font-size(3, 3.6);
		font-family: $gotham-light;
	}
	&.main-header {
		@include rems(padding, 2, 0);
		background: #fff;
		border-bottom: 1px solid #ccc;
		a {
			color: #7d7d7d;
			text-decoration: none;
		}
	}
}
.midnightHeader {
	.midnightInner {
		@include rems(padding, 2, 0);
	}
	&.default {
		.midnightInner {
			border-bottom: 1px solid #fff;
			@include vertical-grad(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	&.solid {
		.midnightInner {
			background: #fff;
			border-bottom: 1px solid #ccc;
		}
		a {
			color: #7d7d7d;
			text-decoration: none;
		}
	}
}
