.home-video {
	display: flex;
	align-items: center;
	justify-content: center;
	video#bgvid {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
		@media #{$phone} {
			display: none;
		}
	}
}
.home-main {
	position: relative;
	z-index: 10;
	background: #fff;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		@include rems(top, -2);
		@include rems(height, 2);
		z-index: 10;
		background: url('images/video-cover@2x.png') center bottom no-repeat;
		background-size: cover;
	}
}
.home-content {
	text-align: center;
	@include font-size(2.4, 3.2);
	.container {
		@include rems(padding-top, 4);
	}
}
