nav {
	header & {
		margin-left: auto;
		ul {
			@include clearfix;
			li {
				float: left;
				@include rems(margin-right, 4);
				@include font-size(2, 2.4);
				a {
					transition: 0.4s all ease;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
					a {
						color: $main !important;
					}
				}
			}
		}
	}
}
