a {
	color: $main;
	text-decoration: none;
}
strong {
	font-family: $gotham-medium;
}
em {
	font-family: $gotham-book-italic;
}
h1 {
	&.page-title {
		color: #7d7d7d;
		border-bottom: 1px solid $main;
		@include rems(padding-bottom, 1);
		@include rems(margin-bottom, 4);
		@include font-size(3, 3.4);
		font-family: $gotham-light;
		text-align: center;
	}
}
h2 {
	.home-video & {
		color: #fff;
		font-family: $gotham-light;
		@include font-size(6, 6);
		width: 90%;
		text-align: center;
		text-transform: lowercase;
	}
	.home-content & {
		color: $main;
		@include font-size(3, 3.8);
		font-family: $gotham-light;
		@include rems(margin-bottom, 4);
	}
	article & {
		font-family: $gotham-book;
		@include font-size(2.2, 2.8);
		@include rems(margin-bottom, 2);
	}
}
h3 {
	article & {
		font-family: $gotham-light;
		color: $main;
		@include rems(margin, 2, 0, 1);
		@include font-size(2, 2.6);
	}
}
ul {
	article & {
		@include rems(margin, 0, 0, 2, 2);
		li {
			@include rems(padding-left, 1.4);
			background: url('images/bullet@2x.png') top left no-repeat;
			background-size: 4px auto;
			background-size: 0.4rem auto;
			@include rems(margin-bottom, 0.5);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
